@font-face {
  font-family: 'Halis';
  font-style: normal;
  font-weight: 100;
  src: url("/media/fonts/halis/HalisR-Thin-webfont.woff") format('woff');
}

@font-face {
  font-family: 'Halis';
  font-style: normal;
  font-weight: 200;
  src: url("/media/fonts/halis/HalisR-Light-webfont.woff") format('woff');
}

@font-face {
  font-family: 'Halis';
  font-style: normal;
  font-weight: 400;
  src: url("/media/fonts/halis/HalisR-Regular-webfont.woff") format('woff')
}

@font-face {
  font-family: 'Halis';
  font-style: normal;
  font-weight: 800;
  src: url("/media/fonts/halis/HalisR-Bold-webfont.woff") format('woff');
}

@font-face {
  font-family: 'Halis';
  font-style: normal;
  font-weight: 900;
  src: url("/media/fonts/halis/HalisR-Black-webfont.woff") format('woff');
}